@charset "UTF-8";

body {
    background-image: linear-gradient(45deg, #00F5EE, #FFFFFF, #3BBFF5);
    background-attachment: fixed;
    font: normal 15pt Arial;
}

header {
    color: rgb(6, 146, 240);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514);
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

footer {
    color: rgb(6, 146, 240);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514);
    text-align: center;
    font-style: italic;
}